/* main styling over-rides    background: url("../image/live.png") no-repeat; */

html, body {
    background: url("../image/live.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* TINKERING WITH IDEA OF BACKGROUND IMAGE ON HOME PAGE ONLY
body{
    background-color: #F0F8FF;
}
*/


h1, h2 {
    font-family: 'Oswald', sans-serif;
}

/* navbar styling */
.navbar-box{
    background: none;
    filter: none;
    border: none;
    box-shadow: none;
    background-color: #DD9933;
    height: 50px;

    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-box .nav  > li  > a{
    color: #fff;
    text-shadow: none;
}
.navbar-box .nav  > li  > a:hover{
    color: #000;
    background: none;
}
.navbar-box .navbar-brand {
    margin-top: -34px;
}
.navbar-box .navbar-nav {
    margin-top: -6px;
}
.navbar-box  .navbar-right{
    margin-top: 0px;
}

.navbar-brand{
    padding-left: 42px;
}

.navbar-nav .label{
    background-color:#646464;
    font-family:Oswald;
}

/* for mesages */
.redder{
    color: red;
    font-weight: bold;
}

/* to make buttons all double-width */
.btn:hover {
    background: #999; /* Old browsers */
    border-width: 4px;
}
.btn-box{
    width: 40px;
    height: 40px;
}

/* Making sure forms don't overlap panels
​.my-input{
    width: 100%;
    padding: 4px 0 4px 0 !important;
}​
 */

/* to make table wrap/scroll for us */
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: auto;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table {
    margin-bottom: 0;
}

.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}


.table-responsive>.table>tbody {
    display: in-line;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    }


.texvert {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
    float: left;
    vertical-align:top;
}

/* some specific styling */
#logo {
    height: 100%;
    margin-top: -65px;
    margin-left: 100px
}

#big-logo{
   color: white;
   background: black;
   text-align: center;
   font-size: 48px;
   opacity: 0.7;
}

#prof_row_style{
   color: white;
   background: #282832;
   opacity: 0.85;
}
#prof_row_style:hover {
    background: #999; /*################ Old browsers */
    color:#FF793E;
}

#scroller {
    overflow-y: scroll;
}
#panel-transparent {
    background: none;
    text-align: center;
}
