/* main styling over-rides    background: url("../image/live.png") no-repeat; */

html, body {
    background: url("../image/live.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* TINKERING WITH IDEA OF BACKGROUND IMAGE ON HOME PAGE ONLY
body{
    background-color: #F0F8FF;
}
*/

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

/* navbar styling */
.navbar-box{
    background: none;
    filter: none;
    border: none;
    box-shadow: none;
    background-color: #DD9933;
    height: 20px;

    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-box .navbar-brand {
    margin-top: -34px;
}
.navbar-box .navbar-nav {
    margin-top: -6px;
}
.navbar-box .navbar-right{
    margin-top: 0px;
}

.navbar-brand{
    padding-left: 42px;
}

.navbar-nav .label{
    font-family:Oswald;
}

/* selecting our buttons: background on hover & dropdown */
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #555;
    background-color: rgba(255, 255, 255, 0.50);
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.50);
}

/* for messages */
.redder{
    color: red;
    font-weight: bold;
}

/* to make buttons all double-width */
/*
.btn:hover {
    background: #999; Old browsers
    border-width: 4px;
}
*/
.btn-box{
    width: 40px;
    height: 40px;
}

/* Making sure forms don't overlap panels
​.my-input{
    width: 100%;
    padding: 4px 0 4px 0 !important;
}​
 */

/* to make table wrap/scroll for us */
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: auto;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table {
    margin-bottom: 0;
}

.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}


.table-responsive>.table>tbody {
    display: in-line;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    }


.texvert {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
    float: left;
    vertical-align:top;
}

/* some specific styling */
#logo {
    height: 100%;
    margin-top: -65px;
    margin-left: 100px
}

#big-logo{
   color: white;
   background: black;
   text-align: center;
   font-size: 48px;
   opacity: 0.7;
}

#small-logo{
   color: white;
   background: black;
   text-align: left;
   font-size: 13px;
   opacity: 0.45;
   padding-top: 5px;
   padding: 5px;
}


#prof_row_style{
   color: white;
   background: #282832;
   opacity: 0.85;
}
#prof_row_style:hover {
    background: #999; /*################ Old browsers */
    color:#FF793E;
}

#scroller {
    overflow-y: scroll;
}
#panel-transparent {
    background: none;
    text-align: center;
}

/* settings for parallax style background image */
#roper {
    background: url(../image/shoelaces2.png);
    height:750px;
}

/* main holder for parallax */
section {
  text-align: center;
}

.full-screen {
  min-height: 400px; /* makes panels the entire window height; DOES IT? */
}

.blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
    background-color: #3883d8;
}
.red {
    background-color: #cf3535;
}


div .imgFit {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#boxer {
    background: url(../image/cube.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px; /* makes panels the entire window height; DOES IT? */
}

.garden {
  position: relative;
  width : 20px;
  height: 200px;
  border: 2px solid #CCC;
  border-radius: 15px;
}

.ball {
  position: absolute;
  top   : 90px;
  left  : 0px;
  width : 20px;
  height: 20px;
  background: green;
  border-radius: 100%;
}

/* TOGGLE BUTTON */
.toggle-button {
    background-color: orange;
    margin: 5px 0;
    border-radius: 20px;
    border: 1px solid #FF8C00;
    height: 20px;
    cursor: pointer;
    width: 50px;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
.toggle-button button {
    cursor: pointer;
    outline: 0;
    display:block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    background-color: LightGrey;
    float: left;
    margin: -3px 0 0 -3px;
    border: 1px solid Gray;
    transition: left 0.3s;
}
.toggle-button-selected {
    background-color: Green; /*#83B152 *green*/
    border: 1px solid White;
}
.toggle-button-selected button {
    left: 26px;
    top: 0;
    margin: 0;
    border: none;
    width: 24px;
    height: 24px;
    background-color: LightGrey;
    border: 1px solid Gray;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}