{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
<div>
    <!-- <p align="right"> DOUBLE CURLY moment(ct, local=True).format('Do MMM YYYY, h:mm:ss a') DOUBLE CURLY</p>  -->
    <p align="right"> {{ct}} </p>
    <br><br><br>
    <div class="jumbotron" title="Demo Tooltips Activated" id="big-logo">
        <h1>second <small>Blueprint.</small></h1></div>
    <p id="bosh"></p>
</div>
<script src="static/js/snips/ttiper.js"></script>
<!-- grab location data -->
<script src="static/js/snips/locn.js"></script>
{% endblock %}