{% extends "base.html" %}
{% block content %}
    <button class="myButton" id="stamper">RecordChanges</button>
    <button class="myButton" id="stampee">LoadPreviousChanges</button>
    <div id="labers"></div>
    <!-- <input type="file" class="myButton" id="stampLoader" name="result"> -->
    <p id="stamped"></p>
    <div class="floating-box">
        <input type="text" id="l_limit" placeholder="Lower Limit (if any)"/>
        <input type="text" id="u_limit" placeholder="Upper Limit (if any)"/>
        <input type="text" id="bad_val" placeholder="Bad Value (if any)"/>
    </div>
    <br>
    {% for key, data in data_dict.items() %}
        <div class="floating-box">
        <table>
        <thead>
            <tr>
                <th>{{data['tab']}}</th>
                {% for header in data['headers'] %}
                    <th class="expander">
                        <div class="headerMouse" id="{{header[1]}}">{{header[0]}}</div>
                        <div class="headerStats"></div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for k, val in data['data'].items() %}
            <tr class="rowCont">
                <td><button class="rowRun" value=1>{{k}}</button></td>
                {% for col in val %}
                    <td><button class="cellRun" value={{col}}></button></td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr class="forceCont">
            <td><button>ForceCol</button></td>
            {% for ct in data['data'].values()[0] %}
                <td><button class="forceRun" value="f">f</button></td>
            {% endfor %}
        </tr>
        </tbody>
        </table>
        </div>
        <div class="floating-box">
            <div class="flip">Summary Data</div>
            <div class="flippee">{{ summary[key] }}</div>
        </div>
        <br>
    {% endfor %}

    <div class="floating-box"><div class="res_container">
        <form id="form_container"></form>
    </div></div>
    <div class="floating-box"><div class="res_container">
        <p>Logging Cache</p>
        <button class="myButton" id="crystallise">MakeRecord</button>
        <p id="stamped2"></p>
        <p id="cur_val3"></p>
    </div></div>
    <p id="usr_data">{{usr_data}}</p>
    <div><p id="meta">{{summary['meta']}}</p></div>
    <p id="usr_data">{{curr_logins}}</p>
    <script src="../static/js/snips/bigFile.js"></script>
{% endblock %}