{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
    <script>
         $(function() {
            $("#submitBtn").click(function() {
                 $.ajax({
                    type: "GET",
                    url: "./echo/",
                    contentType: "application/json; charset=utf-8",
                    data: { echoValue: $('input[name="echoText"]').val() },

                    success: function(data) {
                        $('#echoResult').text(data.value);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });
          });
    </script>
    <input class="form-control input-md" type="text" size="10" id="echoText" name="echoText"
           placeholder="Matthew" style="width:50%">
    <button type="button" id="submitBtn" name="submitBtn" class="btn btn-success">Submit AJAX</button>
    <br><br>
    <div id="echoResult"></div>
{% endblock %}
