{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
    <div id="here1">blank</div>
    <div id="here2">blank</div>
    <div id="here3">blank</div>
    <div class="btn-toolbar" role="toolbar" aria-label="..." style="font-size: 24px">
        <button type="button" class="btn btn-warning" onclick="toggler();" id="booler">0</button>
        <button type="button" class="btn btn-warning" onclick="motionVars();">Wipe</button>
    </div>
    <div id="tallyTilt">nada</div>
    <div id="result">reslt</div>
    <div id="acx">acx</div>
    <div id="acy">acy</div>
    <div id="theta">theta</div>
    <div id="beta">beta</div>
    <div id="gamma">gamma</div>
    <h3 id="compass">North</h3>
    <h3 id="accs">accs</h3>
    <div class="garden">
        <div class="ball"></div>
    </div>
    <p id="raws">TRUE alpha, beta, gamma</p>
    <p id="ival">ival</p>
    <p id="dmEvent">Motion ok</p>
    <p id="dmEvent2">Orientation ok</p>
    <script src="static/js/snips/ball.js"></script>
{% endblock %}