{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
    <audio id="beep6" src="./static/image/beep6.mp3"></audio>

    <div class="btn-toolbar" role="toolbar" aria-label="..." style="font-size: 16px;" align="center">
        <button type="button" class="btn btn-danger" onclick="toggler();" id="booler">SetRecorder</button>
        <!-- <button type="button" class="btn btn-warning" onclick="motionVars();">Wipe</button> -->
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="..." style="font-size: 16px;" align="center">
        <span class="label" id="remTime"></span>
        <span class="label label-success" id="captButton"></span>
        <br><br>
        <div class="garden">
            <div class="ball"></div>
        </div>
    </div>
    <div id="result">Results</div>

    <p id="raws">TRUE alpha, beta, gamma</p>
    <h3 id="compass">North</h3>
    <h3 id="accs">accs</h3>
    <p id="ival">ival</p>
    <p id="dmEvent">Motion ok</p>
    <p id="dmEvent2">Orientation ok</p>
    <script src="static/js/snips/ball.js"></script>
{% endblock %}