{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
    <h3 id="dmEvent">Motion ok</h3>
    <h3 id="dmEvent2">Orientation ok</h3>
    <h3 id="raws">TRUE alpha, beta, gamma</h3>
    <h3 id="north">alpha, beta, gamma</h3>
    <div class="btn-toolbar" role="toolbar" aria-label="..." style="font-size: 24px">
        <button type="button" class="btn btn-danger" onclick="stopCollecting();">
            Stop</button>
        <button type="button" class="btn btn-success"
                onclick="addCountDownLayer(terminal_vel, 100);" id="egg">
                Capture</button>
        <button type="button" class="btn btn-warning" onclick="motionVars();">
            Wipe & Restart</button>
        <span class="label label-warning"
              onclick="toggler();" id="booler">0</span>
    </div>
    <!-- Graph Container -->
    <div id="sigbox" style="width:100%; height:400px;"></div>
    <div class="table-responsive" id="scroller">
        <table class="table table-hover table-condensed">
            <thead style="color:green">
            <thead><td><h2>Pos then Vel</h2></thead>
            <tr><td id="pos"></td></tr>
            <tr><td id="vel"></td></tr>
            <tr><td id="acc"></td></tr>
            <tr><td id="rot"></td></tr>
        </table>
    </div>
    <h3>trash</h3>

    <!--
    <h2>Device Motion</h2>
    <table>
        <tr><td>Event Supported</td><td id="dmEvent"></td></tr>
        <tr><td>acceleration</td><td id="moCapture"></td></tr>
        <tr><td>interval</td><td id="moInterval"></td></tr>
        <tr><td>Event Supported</td><td id="dmEvent2"></td></tr>
        <tr><td>acceleration</td><td id="moCapture2"></td></tr>
        <tr><td>interval</td><td id="moInterval2"></td></tr>
    </table>
    -->
    <!-- <button onclick="repeatit(flashText, 'echoMotion', 500);">Start</button> -->
    <!-- <div id="echoMotion"></div> -->

    <!-- Javascript for our graph -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="static/js/snips/move_graph_sets.js"></script>
    <script src="static/js/snips/move_capture.js"></script>
{% endblock %}
