{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
    <h3 id="dmEvent">Motion ok</h3>
    <h3 id="dmEvent2">Orientation ok</h3>

    <h3 id="compass">North</h3>
    <h3 id="raws">TRUE alpha, beta, gamma</h3>
    <h3 id="accs">accs</h3>

    <div class="btn-toolbar" role="toolbar" aria-label="..." style="font-size: 24px">
        <button type="button" class="btn btn-danger" onclick="stopCollecting();">
            Stop</button>
        <button type="button" class="btn btn-success"
                onclick="repeatit(terminal_vel, 1000, 1000);" id="egg">
                Capture</button>
        <button type="button" class="btn btn-warning" onclick="motionVars();">
            Wipe & Restart</button>
        <span class="label label-warning"
              onclick="toggler();" id="booler">0</span>
    </div>
    <!-- Graph Container -->

    <div class="table-responsive" id="scroller">
        <table class="table table-hover table-condensed">
            <tr><td>cumDisp</td><td id="cum_disp"></td></tr>
            <tr><td>disp</td><td id="disp"></td></tr>
            <tr><td>vel</td><td id="vel"></td></tr>
            <tr><td>bcktAcc</td><td id="bucketAcc"></td></tr>
            <tr><td>acc</td><td id="acc"></td></tr>
            <tr><td>rotn</td><td id="rot"></td></tr>
        </table>
    </div>
    <div id="sigbox" style="width:100%; height:400px;"></div>
    <h3>trash</h3>
    <!-- Javascript for our graph -->
    <!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
    <!-- <script src="static/js/snips/move_graph_sets.js"></script> -->
    <script src="static/js/snips/move_capture.js"></script>

{% endblock %}
