{% extends "base.html" %}

{% block redder %}
{% endblock %}

{% block content %}
    <div class="main">
        <h2>Device Orientation</h2>
        <table>
            <tr>
                <td>Event Supported</td>
                <td id="doEvent"></td>
            </tr>
            <tr>
                <td>Tilt Left/Right [gamma]</td>
                <td id="doTiltLR"></td>
            </tr>
            <tr>
                <td>Tilt Front/Back [beta]</td>
                <td id="doTiltFB"></td>
            </tr>
            <tr>
                <td>Direction [alpha]</td>
                <td id="doDirection"></td>
            </tr>
        </table>
    </div>

    <br><br><br>

    <div class="imgFit">
        <img src="/static/image/cube.png" id="boxer">
    </div>

    <div class="media">
        <img class="media-object" src="/static/image/cube.png" id="boxer">
    </div>

    <br><br><br>
    <button onclick="repeatit(task, millis);">Start</button>
    <button onclick="stopTextColor();">Stop</button>
    <div id="echoMotion"></div>
    <br><br><br>
    <script src="static/js/snips/orientn.js"></script>
{% endblock %}