<div class="table-responsive" id="scroller">
    <table class="table table-hover table-condensed">
        <tr style="color:green">
            <th> Files (prepended with any directory names) </th>
            <th> Delete? </th>
        </tr>
        <tbody data-link="row" class="rowlink">
        {% for ro in form %}
            <tr class="prof_row_style">
                <td> <a href="?s={{ro.name}}"></a> {{ ro.name }} </td>
                <td>
                    <a class="btn btn-danger btn-group" href="?d={{ro.name}}"
                        role="button">DELETE</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>





