<div class="table-responsive" id="scroller">
    <div id="deletedRow"></div>
    <table class="table table-hover table-condensed">
        <thead style="color:green">
            <td width="5%"> Delete? </td>
            <td> id </td>
            <td> acx </td>
            <td> acy </td>
            <td> theta </td>
            <td> beta </td>
            <td> gamma </td>
            <td> radius </td>
            <td> angle </td>
        </thead>
        <tbody data-link="row" class="rowlink">
            {% for ro in form %}
                <tr id="prof_row_style">
                    <td> <button style="background-color:rgba(255, 0, 0, 0.7);; color:rgb(255, 255, 255);" id={{ro.id}}>delete</button> </td>
                    <td> <a href="#"></a> {{ ro.id }} </td>
                    <td> {{ ro.acx }} </td>
                    <td> {{ ro.acy }} </td>
                    <td> {{ ro.theta }} </td>
                    <td> {{ ro.beta }} </td>
                    <td> {{ ro.gamma }} </td>
                    <td> {{ ro.radius }} </td>
                    <td> {{ ro.angle }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="static/js/snips/deleteRow.js"></script>
