<!-- HEADERS FOR NAVBAR -->
{% macro navbar_titles(u_title, title) %}
    <li><a href="{{ url_for(u_title) }}"><h3><span class="label">{{ title }}</span></h3></a></li>
{% endmacro %}

<!-- STRUCTURE OF FORM -->
{% macro form_pres(fn, form, patex, tadata) %}
    <form action="{{ url_for(fn, **kwargs) }}" method="post">
        {{ form.csrf_token }}
        <div class="col-xs-12 col-md-4">
            {{ create_masterpanel(form, patex, tadata) }}
        </div>
    </form>
{% endmacro %}

<!-- LOOK AND FEEL OF THE PANEL (HOLDING THE FORM)-->
{% macro create_masterpanel(form, patex, tadata) %}
<div class="panel">
    <div class="panel-heading btn-success"><h2 style="font-size:18px"> {{ patex }} </h2></div>
    <div class="panel-body" align="center">
        {% include tadata %}
    </div>
</div>
{% endmacro %}

<!-- PRESENTATION OF INDIVIDUAL FORM ROWS INSIDE PANEL -->
{% macro row_pres(i_class, fn, placeholder) %}
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><i class="{{i_class}}"></i></span>
        <input class="form-control" {{ fn(placeholder=placeholder) }}
    </div>
</div>
{% endmacro %}

