{% import 'macros.html' as macros %}

<span class="input-group-addon">{{form.task.label}}</span>
<span class="input-group-addon">{{form.task}}</span>

<div class="form-group">
    <span class="input-group-addon">{{form.args(rows=6, cols=13)}}</span>
    <span class="input-group-addon">{{form.kwargs(rows=6, cols=13)}}</span>
</div>

{{ macros.row_pres("fa fa-calendar-plus-o fa-border btn-info", form.starter) }}
{{ macros.row_pres("fa fa-calendar-minus-o fa-border btn-danger", form.ender) }}
{{ macros.row_pres("fa fa-hourglass-end fa-border", form.ner) }}

<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <input type="submit" name="submit" class="btn btn-info" value="RunOnceNow">
    </div>
    <div class="btn-group" role="group">
        <input type="submit" name="submit" class="btn btn-primary" value="RunSchedule">
    </div>
</div>

<br>

<div class="jumbotron" id="small-logo">
    <h3><small>sample arguments</small></h3>
    {% for ele in form.printof_args %}
        {{ele}}
        <br>
    {% endfor %}
</div>